
h1{
  color: #fff;
  padding: 20px;
  margin: 30px;
  display: flex;
  justify-content: center;
}




/* Cards */
.container{
  padding-left: 6%;
  margin:0;
  float:left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:25%;
  max-width: 900;
  height: auto;
}

.card{
  width: 100%;
  perspective: 1000px;
  cursor: pointer;
  margin: 0 -5px;
}



.card-inner{
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.front-face{
  backface-visibility: hidden;
}

.front-face img{
  width: 100%;
  border-radius: 10px;
}
.front-face h2{
  padding: 20px;
  color: #333;
}

.back-face{
  backface-visibility: hidden;
  background: #54727D;
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  transform: rotateY(180deg);
}

.card:hover .card-inner{
  transform: rotateY(-180deg);
}

.back-face h2{
  padding: 20px;
}

.btn-comprar{
  font-size: 100%;
  font-weight: bolder;
  font-family: sans-serif;
  color: #fafafa;
  background-color: #56C0E7;
  border: none;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  text-decoration: none;
}
.btn-comprar:hover{
  background-color: #9a9a9a;
}
@media screen and (max-width: 700px) {
  .container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-left: 12vw;
  }
  .card{
width: 70%;  }
  h2{
    font-size: medium;
  }
}

@media screen and (min-width: 701px){
  .card{
    width: 80%;
  }
}
.btn-contador{
  background-color: #56C0E7;
  color: #fafafa;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  border: none;
}
.btn-contador:hover{
  background-color: #9a9a9a;

}

.itemcount{
  position:absolute ;
  margin: 10px 10px 10px 10px;
  border: solid #9a9a9a 1px;
  padding: 5px;
  display: flex;
 
}

.count{
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
}