* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,500;1,200;1,300;1,400&family=Inconsolata:wght@300;400&display=swap");

body {
  margin: 0;
  background-color: #9ef4ff;
}

:root {
  --text-primary: #9ef4ff;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #354a54;
  padding: 5px;
  font-family: "Barlow", sans-serif;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navigation {
  list-style: none;
  font-family: sans-serif;
  font-weight: 600;
}

.navigation a {
  text-decoration: none;
  color: var(--text-primary);
}

.navigation a:hover {
  color: aliceblue;
}

.link4:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: aliceblue;
  content: "";
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.11, 0.7, 0, 1);
}

.link4:hover:after {
  transform: scale(1);
}
a {
  color: #6e5c34;
  text-decoration: none;
  display: block;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  padding: 0 6px;
  text-transform: uppercase;
  transition: color 0.3s cubic-bezier(0.11, 0.7, 0, 1);

  font-size: 0.875rem;
  letter-spacing: 0.15rem;
  line-height: 1.8;
}

a:hover {
  color: #ce6d90;
}

.color {
  color: red;
}
